.quizMainContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .upperContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .upperInnerContainer {
    display: flex;
    gap: 20px;
  }
  
  .questionContainer {
    margin-bottom: 20px;
  }
  
  .questionText {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .optionsContainer {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    margin-bottom: 10px;
  }
  
  .submitButton {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  